@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;700&display=swap');
@import 'grid';

:root {
  color: #393c41;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
}

body {
  margin: 2rem;
}

header {
  margin-bottom: 6rem;
}

nav {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 2;

  a {
    color: inherit;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

section {
  position: relative;
  z-index: 1;
}

section + section {
  margin-top: 6rem;
}

h2 {
  position: sticky;
  top: 2rem;
  margin: 0;
  z-index: 2;
}

.row {
  background: #dbeeff;
}

section h2 + .grid {
  margin-top: 2rem;
}

.column {
  position: relative;
  color: #fff;
  font-family: 'Roboto Mono', monospace;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    content: attr(data-class);
  }

  &.document-hidden-label::after {
    display: none;
  }

  &.document-text-color-black {
    color: #393c41;
  }
}

.content-area {
  display: block;
  height: 100%;
  min-height: 4rem;
  overflow: hidden;
  white-space: nowrap;
  background: #2571b3;
}

.row .row {
  background: #d9fcfc;

  .column .content-area {
    background: #2eb3b3;
  }
}

textarea {
  box-sizing: border-box;
  display: block;
  padding: 1rem;
  margin-top: 2rem;
  width: 100%;
  height: 20vh;
  appearance: none;
  color: inherit;
  font-size: 1rem;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5;
  background: #edeef0;
  border: 0;
  border-radius: 0;
  outline: 0;
}

textarea + .grid {
  margin-top: 6rem;
}
